/* universal font */
body {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

/* header starts */
.header {

    text-align: right;
    padding: 216px 364px;



}

header {
    background-image: url("../images/banner/banner1.png");
    background-repeat: no-repeat;
    background-position: center;
}

.tag-head {
    color: rgb(21, 20, 20);

    margin: 216px 0px 0px 700px;



    font-size: 65px;

    font-weight: 700;

    width: 525px;

    height: 228px;


}

.tag-content {
    margin-top: 30px;
    width: 494px;

    height: 78px;
    margin: 0px 0px 0px 725px;
}

.contact {
    border-radius: 5px;
    background: rgb(241, 91, 34);
    padding: 21px 25px;
    color: rgb(255, 255, 255);



    font-size: 20px;

    font-weight: 600;

}

/* main starts */
.main {
    display: flex;
    justify-content: space-between;
    gap: 87px;



}

.image {
    padding: 9px 47px;
    width: 569px;

    height: 723.3px;


    left: 206px;

    right: -206px;

    top: 939px;

    bottom: -939px;
    margin-left: 200px;


}

.failure {
    margin: 370px 500px 370px 200px;
    margin-right: 500px;
    width: 416px;

    height: 400px;
}

.fail-headline {
    width: 288px;

    height: 94px;
    color: rgb(21, 20, 20);



    font-size: 40px;

    font-weight: 700;
}

.fail-content {
    width: 416px;

    height: 104px;
    color: rgb(68, 67, 67);

    font-family: Work Sans;

    font-size: 16px;

    font-weight: 400;
}


.group {
    width: 349px;

    height: 162px;
    color: rgb(68, 67, 67);

    font-family: Work Sans;

    font-size: 16px;

    font-weight: 400;
}

.main>ul,
li {
    text-decoration: none;
    list-style: none;
}

.plan-title {
    text-align: center;
    color: rgb(21, 20, 20);



    font-size: 40px;

    font-weight: 700;
}

.prog {
    display: flex;
    justify-content: center;
    gap: 90px;
    text-align: center;

}

.prog-des {
    color: rgb(115, 114, 114);




    text-align: center;
}

.prog-tag {
    color: rgb(21, 20, 20);



    font-size: 30px;

    font-weight: 700;
}

.container {
    text-align: center;
    position: relative;
    margin-top: 130px;






}

.always {
    position: absolute;
    top: 18px;
    left: 450px;
    color: rgb(255, 255, 255);



    font-size: 40px;

    font-weight: 700;
}

.call {
    position: absolute;
    top: 150px;
    left: 450px;
    color: rgb(241, 91, 34);



    font-size: 20px;

    font-weight: 600;
}

.watch {
    border-radius: 8px;


    background: linear-gradient(90.00deg, rgb(241, 91, 34), rgba(241, 91, 34, 0) 100%);
    overflow: hidden;
    
}